<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h2>About Me</h2>
    <ul>
    	<li>Web Developer in Nashville, TN</li>
    	<li>Know all about the MEAN stack</li>
    	<li>Huge St. Louis Cardinals Fan</li>
    	<li>Audio Engineer and musician</li>
    </ul>
  </body>
</html>